{
    "presets": [
        [
        "@babel/preset-env",
          {
          "useBuiltIns": "entry",
          "corejs": "3.0.0",
          "forceAllTransforms": true,
          "ignoreBrowserslistConfig": false,
          "modules": false,
          "debug": true
        }
      ]
    ]
  }