/*
Colors
*/

$primary-color: #C6C6C6;
$secondary-color:#4B4B4C;
$ternary-color: #bbb9b9;

/*
Font-sizes
*/

$font-size-xs:0.5rem;
$font-size-sm:1rem;
$font-size-m:1.5rem;
$font-size-l:2rem;
$font-size-xl:2.5rem;

/*
Trending Card Hover
*/

$trending-card-hover:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
