[[source]] 
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask="~=1.1"
mamba="~=0.10"
requests="~=2.23"
beautifulsoup4="~=4.8"
Flask-Cors="~=3.0"

[requires]
python_version = "3.7"