[[source]] 
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask="~=1.1.0"
mamba="~=0.11.0"
requests="~=2.23.0"
beautifulsoup4="~=4.9.0"
Flask-Cors="~=3.0.0"
gunicorn="~=20.0.0"
redis-py-cluster="*"

[requires]
python_version = "3.7"